*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif, system-ui;
}

:root {
  --background: #09090b;
  --foreground: #fafafa;
  --muted-background: #18181b;
  --muted-foreground: #9f9fa9;

  @media (prefers-color-scheme: light) {
    --background: #fafafa;
    --foreground: #09090b;
    --muted-background: #f4f4f5;
    --muted-foreground: #71717b;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 96px 1rem;

  .places-text {
    text-align: center;

    h1 {
      font-size: 48px;
      font-weight: 900;
      letter-spacing: -0.05rem;
    }

    p {
      color: var(--muted-foreground);
    }
  }
}

.places-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 32px;
  padding-inline: 24px;
}

.place-card {
  max-width: 500px;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--muted-background);
  border: 2px solid var(--muted-background);
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  cursor: pointer;

  .place-card-img-wrapper {
    min-width: 198px;
    height: 149px;
    border-radius: 0.5rem;
    overflow: hidden;

    .place-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform 300ms ease-in-out;
    }
  }

  .place-card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .place-card-header {
      h2 {
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: -0.05rem;
      }

      p {
        color: var(--muted-foreground);
      }
    }

    .place-card-footer {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .place-card-footer-img-wrapper {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: hidden;

        .photographer-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  /* Animations and transitions */
  transition: border-color 200ms ease-in-out;

  &:hover .place-card-img-wrapper img {
    transform: scale(1.05);
  }

  &:hover {
    border: 2px solid #444444;
  }

  animation: blur-fade-up 1s ease-out backwards;
}

.place-card:nth-child(1) {
  animation-delay: 0s;
}
.place-card:nth-child(2) {
  animation-delay: 0.1s;
}
.place-card:nth-child(3) {
  animation-delay: 0.2s;
}
.place-card:nth-child(4) {
  animation-delay: 0.3s;
}
.place-card:nth-child(5) {
  animation-delay: 0.4s;
}
.place-card:nth-child(6) {
  animation-delay: 0.5s;
}

@keyframes blur-fade-up {
  from {
    opacity: 0;
    transform: translateY(4rem);
    filter: blur(0.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@media (max-width: 1440px) {
  .places-grid {
    grid-template-columns: repeat(2, 2fr);
  }
}
