*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif, system-ui;
}

:root {
  --background: #09090b;
  --foreground: #fafafa;
  --muted-background: #18181b;
  --muted-foreground: #9f9fa9;

  @media (prefers-color-scheme: light) {
    --background: #fafafa;
    --foreground: #09090b;
    --muted-background: #f4f4f5;
    --muted-foreground: #71717b;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 96px 1rem;

  h1 {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -0.05rem;
  }
}

.places-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 32px;
  padding-inline: 24px;
}

.place-card {
  max-width: 500px;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--muted-background);
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;

  .place-card-img-wrapper {
    min-width: 198px;
    height: 149px;
    border-radius: 12px;
    overflow: hidden;

    .place-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .place-card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .place-card-header {
      h2 {
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: -0.05rem;
      }

      p {
        color: var(--muted-foreground);
      }
    }

    .place-card-footer {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .place-card-footer-img-wrapper {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: hidden;

        .photographer-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
