*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif, system-ui;
}

:root {
  --background: #09090b;
  --foreground: #fafafa;
  --muted-background: #18181b;
  --muted-foreground: #9f9fa9;

  @media (prefers-color-scheme: light) {
    --background: #fafafa;
    --foreground: #09090b;
    --muted-background: #f4f4f5;
    --muted-foreground: #71717b;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

h1 {
  letter-spacing: -0.05em;
}

p {
  color: var(--muted-foreground);
}

h1,
p {
  animation: blur-fade-up 1.5s cubic-bezier(0.42, 0, 0.19, 1);
}

@keyframes blur-fade-up {
  from {
    opacity: 0;
    transform: translateY(4rem);
    filter: blur(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
